@if (Model != null)
{ 
<div>
	<h3 class="title" @ViewHelper.Edit(Model,"alt")>@Html.Raw(Model.alt ?? "")</h3>
	<div class="content">
		<div @ViewHelper.Edit(Model,"s_img")>@Html.Raw(Model.s_img ?? "")</div>
		<div @ViewHelper.Edit(Model,"b_img")>@Html.Raw(Model.b_img ?? "")</div>
	</div>
</div>
}