    	<div id="home">
        	<ul id="templatemo_menu">
            	<li class="menu_item"><a href="#about" class="text">@("About".Label())</a></li>
                <li class="menu_item"><a href="#about" class="about icon"><span>About</span></a></li>
                <li class="blank">Blank</li>
                <li class="menu_item"><a href="#social" class="social icon"><span>Social</span></a></li>
                <li class="menu_item no_margin_right"><a href="#social" class="text">@("Social".Label())</a></li>
                
				<li class="blank">Blank</li>
                <li class="menu_item"><a href="http://www.kooboo.com" target="_blank" title="Flash Templates" class="text">@("Galleries".Label())</a></li>
                <li class="menu_item"><a href="#services" class="services icon"><span>Services</span></a></li>
                <li class="menu_item"><a href="#services" class="text">@("Services".Label())</a></li>
                <li class="blank no_margin_right">Blank</li>

                <li class="menu_item"><a href="#portfolio" class="text">@("Portfolio".Label())</a></li>
                <li class="menu_item"><a href="#portfolio" class="portfolio icon"><span>Portfolio</span></a></li>
                <li class="blank">Blank</li>
                <li class="menu_item"><a href="#contact" class="contact icon"><span>Contact</span></a></li>
                <li class="menu_item no_margin_right"><a href="#contact" class="text">@("Contact".Label())</a></li>
			</ul>
		</div>