<div class="block list">
  
@using Kooboo.CMS.Content.Query;
@{
    var userKey = Page_Context.Current.PageRequestContext.AllQueryString["UserKey"];
    var folderCode = !String.IsNullOrEmpty(userKey) ? userKey : "Article";    
    var textFolder = ContentHelper.TextFolder(folderCode); 
    var contentQuery = textFolder.CreateQuery();      
  
    <p>userKey = @userKey</p>
    <p>textFolder = @textFolder.ToString()</p>
    <p>contentQuery.Count = @contentQuery.Count()</p>
    if (contentQuery.Count() > 0)
    {
      foreach (var item in contentQuery){
        <div class="item" @ViewHelper.Edit(item)>
          <h6 class="title"><a href='@Url.FrontUrl().PageUrl("Articles/Detail", new { UserKey = item.UserKey})'@ViewHelper.Edit(item,"Title") >@item["Title"]</a></h6>      
          <p @ViewHelper.Edit(item,"Summary")>@Html.Raw(item["Summary"])</p>
          <a class="comment" href="@Url.FrontUrl().PageUrl("Articles/Detail", new { UserKey = item.UserKey})#comments">@(item.Children("Comment").Count()) Comments</a>
       </div>        
      }
    }
  }
</div>
@{
    var pageOption = new PagerOptions
    {
        NextPageText = "Next »",
        PrevPageText = "« Previous",
        CssClass="pagination",
        CurrentPagerItemWrapperFormatString="<span class=\"current\">{0}</span>",
        NavigationPagerItemWrapperFormatString="<span class=\"pagenavigation\">{0}</span>"
    };
}
@Html.FrontHtml().Pager(ViewBag.Articles,pageOption)
