<div class="block list">
  
@using Kooboo.CMS.Content.Query;
@{
    var userKey = Page_Context.Current.PageRequestContext.AllQueryString["UserKey"];
    var folderCode = !String.IsNullOrEmpty(userKey) ? userKey : "Article";    
    var textFolder = ContentHelper.TextFolder(folderCode); 
    var contentQuery = textFolder.CreateQuery();
    if (!String.IsNullOrEmpty(userKey))
    {
       contentQuery = contentQuery.WhereEquals("UserKey", userKey);
    }    
  
    <p>userKey = @userKey</p>
    <p>textFolder = @textFolder.ToString()</p>
    <p>contentQuery.Count = @contentQuery.Count()</p>
    if (contentQuery.Count() > 0)
    {
      foreach (var item in contentQuery){
        <p>@item.Key</p>
        <p>@item.Value</p>  
      }
    }
  }
</div>
@{
    var pageOption = new PagerOptions
    {
        NextPageText = "Next »",
        PrevPageText = "« Previous",
        CssClass="pagination",
        CurrentPagerItemWrapperFormatString="<span class=\"current\">{0}</span>",
        NavigationPagerItemWrapperFormatString="<span class=\"pagenavigation\">{0}</span>"
    };
}
@Html.FrontHtml().Pager(ViewBag.Articles,pageOption)
